.form-full{
    background: rgba(91, 240, 220, 0.164);
}

.bg-color{
    padding: 50px 0;
}

.contact-form{
    width: 500px;
    margin: auto;
    text-align: center;
    overflow-y: hidden;
    background: rgb(149 221 243 / 75%); 
    padding: 40px;
    border-radius: 20px;
}

.overfolw-contact{
    overflow-x: hidden;
}

.btn-contact{
    background-color: rgba(255, 255, 255, 0.534);
    border: none;
    padding: 10px 20px;
    color: rgb(0, 0, 0);  
    font-weight: bold;
    letter-spacing: 3px;
}

.form-text h1{
    color: rgb(2, 2, 2);;
}