.form-full{
    background: rgba(91, 240, 220, 0.164);
}

.bg-color{
    padding: 50px 0;
}

.contact-form{
    width: 500px;
    margin: auto;
    text-align: center;
    overflow-y: hidden;
    background: rgba(0, 0, 0, 0.787);
    padding: 40px;
    border-radius: 20px;
}

.overfolw-contact{
    overflow-x: hidden;
}

.btn-contact{
    background-color: rgba(125, 241, 241, 0.534);
    border: none;
    padding: 10px 20px;
    color: rgb(255, 255, 255);  
    font-weight: bold;
}

.form-text h1{
    color: rgb(255, 255, 255);;
}